@page "/"

<h1>Welcome to the Village Rentals!</h1>

<p>Est. in 1950<br />Your friendly neighboorhood equipment rentals where<br />we're helping to build dreams, one rental at a time!</p>

<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
</style>