@page "/System Management"
@inherits Manage_Category
@using SoftwareAnalysis.Models;
@inject CategoryDbAccessor CategoryDbAccessor

<header id="headerEquipment" class="headerForEquipment">
	<h2>Equipment Management</h2>
</header>
<hr />
<div class="firstLine">
	
	<div class="groupboxes">
		<label for="textbox">Category Name:</label>
		<InputText id="author" class="form-control" @bind-Value="category.CategoryName" />
	</div>
	
</div>
<hr />

<div>
	<button class="button1 mb-4 mt-1 btn-primary" @onclick="() => Add(category)">Add</button>
</div>	

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
		@foreach (var tmpCategory in categories)
        {
            <tr>
				<td>@tmpCategory.CategoryId</td>
				<td>@tmpCategory.CategoryName</td>
                <td class="text-center">
					<button class="btn btn-danger" @onclick="() => Delete(tmpCategory)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<style>

	h2 {
		text-align: center;
	}

	.groupboxes {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	.groupboxes label {
		width: 150px;
		text-align: left;
		margin-right: 10px;
	}


	.button1 {
		margin-top: 20px;
	}

	.search-button {
		margin-right: auto;
		padding: 2px 4px;
		background-color: white;
		color: black;
		border: solid;
		border-radius: 2px;
		cursor: pointer;
	}
</style>
@code { 
	Category category = new Category();
}